<span style=color:red;font-size:60px>ASSIGNMENT</span>

<span style =color:blue;font-size:50px>PANDAS ADVANCE-2</span>

Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

<span style=color:green>Q1. Write a code to print the data present in the second row of the dataframe, df.</span>

Ans-

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
second_raw=df.iloc[1]

In [4]:
print(second_raw)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

<span style=color:green>Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?</span>

Ans-

In Pandas, both the .loc[] and .iloc[] functions are used to access and manipulate data in a DataFrame, but they have some key differences :

.loc[] (Label-based Indexing):

Uses labels or index names to access data.
Includes the end label when slicing.
Allows you to specify both row and column labels.
Example: df.loc['row_label', 'column_label']

.iloc[] (Integer-based Indexing):

Uses integer positions to access data (0-based).
Excludes the end index when slicing (similar to Python indexing).
Allows you to specify both row and column integer positions.
Example: df.iloc[1, 2]

<span style=color:green>Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].</span>

Did you observe any difference in both the outputs? If so then explain it.

Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [5]:
import pandas as pd
import numpy as np

columns = ['column_1','column_2','column_3','column_4','column_5','column_6']
index =[1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns=columns, index =index)

reindex=[3,0,1,2]
new_df=df1.reindex(index=reindex)

loc_result=new_df.loc[2]
iloc_result=new_df.iloc[2]

print(loc_result,iloc_result)

column_1    0.691468
column_2    0.355898
column_3    0.818816
column_4    0.288778
column_5    0.502965
column_6    0.364331
Name: 2, dtype: float64 column_1    0.646009
column_2    0.215908
column_3    0.191799
column_4    0.256301
column_5    0.745018
column_6    0.138319
Name: 1, dtype: float64

<span style=color:green>Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’</span>

Ans-

In [6]:

import numpy as np

mean_of_every_column=df1.mean()
print("mean od column:")
print(mean_of_every_column)

mean od column:
column_1    0.703531
column_2    0.436455
column_3    0.473368
column_4    0.575966
column_5    0.421289
column_6    0.314712
dtype: float64

In [7]:
standard_deviation=df1["column_2"].std()
print("standard deviation of column_2:")
print(standard_deviation)

standard deviation of column_2:
0.2874151001514759

<span style=color:green>Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]</span>

Ans-

In [8]:
import pandas as pd
import numpy as np

columns=["column_1", "column_2", "column_3", "column_4", "column_5", "column_6"]
indexes=[1,2,3,4,5,6]

# creating dataframe

df1=pd.DataFrame(np.random.rand(6,6), columns=columns, index=indexes)

# Replace data in the second row of 'column_2' with a string variable

string_data="osama"
df1.loc[2,"column_2"]=string_data
# convert column to numeric
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')
# the mean of column_2mean_column_2=df1["column_2"].mean()
mean_column_2 = df1['column_2'].mean()
print("'column_2' after replacement:", mean_column_2)

'column_2' after replacement: 0.7045565504209097

<span style=color:green>Q6. What do you understand about the windows function in pandas and list the types of windows
functions?</span>

Ans-

Window functions operate on a set of data points called a "window," which can move or "roll" over the data. The window is defined by its size, and it can include a fixed number of data points or be based on a time frequency.

Rolling Functions:

rolling(): Provides rolling view over the data.
rolling.mean(), rolling.sum(), rolling.std(): Calculate the mean, sum, standard deviation, etc., over the rolling window.

Expanding Functions:

expanding(): Expanding window functions include all data points from the start up to the current point.
expanding.mean(), expanding.sum(): Calculate the mean, sum, etc., over the expanding window.

Exponential Moving Average (EMA):

ewm(): Exponential moving average assigns exponentially decreasing weights to older observations.
ewm.mean(), ewm.var(): Calculate the exponential moving average, variance, etc.

Window Functions with GroupBy:

You can use window functions in combination with groupby for calculations within groups.

<span style=color:green>Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]</span>

Ans-

In [9]:
import pandas as pd
from datetime import datetime

# get current date and time
current_datetime=datetime.now()
current_month=pd.to_datetime(current_datetime).month
current_year=pd.to_datetime(current_datetime).year
print(f"current month:{current_month}")
print(f"current year:{current_year}")

current month:11
current year:2023

<span style=color:green>Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.</span>

Ans-

In [10]:
import pandas as pd
def get_data_user_input():
    while True:
        try:
            user_input=input("enter the date in the fromat YYYY-MM-DD: ")
            date_obj=pd.to_datetime(user_input)
            return date_obj
        except ValueError:
            print("invalid format please enter valid date format in the YYYY-MM-DD")

print("enter the first date")
date1=get_data_user_input()

print("\nenter the second date")
date2=get_data_user_input()

time_diff=date2 - date1

days_diff=time_diff.days
hours_diff , reminder=divmod(time_diff.seconds , 3600)
minutes_diff=reminder//60

print("\ntime difference")
print(f"days:{days_diff} days")
print(f"hours:{hours_diff} hours")
print(f"minutes:{minutes_diff} minutes")

enter the first date

enter the date in the fromat YYYY-MM-DD:  2020-02-02

enter the second date

enter the date in the fromat YYYY-MM-DD:  2023-02-03

time difference
days:1097 days
hours:0 hours
minutes:0 minutes

<span style=color:green>Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.</span>

Ans-

In [1]:
import pandas as pd

# Function to get user input for file path, column name, and category order
def get_user_input():
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order (comma-separated): ").split(',')
    return file_path, column_name, category_order

# Read CSV file
file_path, column_name, category_order = get_user_input()
df = pd.read_csv(file_path)

# Convert specified column to categorical
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Display sorted data
sorted_df = df.sort_values(by=[column_name])
print("\nSorted Data:")
print(sorted_df)

Enter the CSV file path:  100-contacts.csv
Enter the column name to convert to categorical:  first_name
Enter the category order (comma-separated):  first_name - last_name

Sorted Data:
   first_name  last_name                    company_name  \
0         NaN       Butt               Benton, John B Jr
1         NaN    Darakjy           Chanay, Jeffrey A Esq
2         NaN     Venere             Chemel, James L Cpa
3         NaN   Paprocki          Feltz Printing Service
4         NaN     Foller             Printing Dimensions
..        ...        ...                             ...
94        NaN  Benimadho                 Tree Musketeers
95        NaN  Vanheusen    Springfield Div Oh Edison Co
96        NaN    Hochard         Logan Memorial Hospital
97        NaN       Fern            Kelly, Charles G Esq
98        NaN    Centini  Industrial Paper Shredders Inc

                  address          city       county state    zip  \
0      6649 N Blue Gum St   New Orleans      Orleans    LA  70116
1     4 B Blue Ridge Blvd      Brighton   Livingston    MI  48116
2    8 W Cerritos Ave #54    Bridgeport   Gloucester    NJ   8014
3             639 Main St     Anchorage    Anchorage    AK  99501
4            34 Center St      Hamilton       Butler    OH  45011
..                    ...           ...          ...   ...    ...
94  99385 Charity St #840      San Jose  Santa Clara    CA  95110
95      68556 Central Hwy   San Leandro      Alameda    CA  94577
96       55 Riverside Ave  Indianapolis       Marion    IN  46202
97    7140 University Ave  Rock Springs   Sweetwater    WY  82901
98       64 5th Ave #1153       Mc Lean      Fairfax    VA  22102

          phone1         phone                          email
0   504-621-8927  504-845-1427                jbutt@gmail.com
1   810-292-9388  810-374-9840  josephine_darakjy@darakjy.org
2   856-636-8749  856-264-4130                 art@venere.org
3   907-385-4412  907-921-2010          lpaprocki@hotmail.com
4   513-570-1893  513-549-4561         donette.foller@cox.net
..           ...           ...                            ...
94  408-703-8505  408-440-8447       elvera.benimadho@cox.net
95  510-503-7169  510-452-4835                  carma@cox.net
96  317-722-5066  317-472-2412      malinda.hochard@yahoo.com
97  307-704-8713  307-279-3793       natalie.fern@hotmail.com
98  703-235-3937  703-475-7568              lisha@centini.org

[99 rows x 11 columns]

<span style=color:green>Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.</span>

Ans-

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to get user input for the file path
def get_user_input():
    file_path = input("Enter the CSV file path: ")
    return file_path

# Read CSV file
file_path = get_user_input()
df = pd.read_csv(file_path)

# Assuming the CSV file has columns: 'Date', 'Category', and 'Sales'

# Convert 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Create a stacked bar chart
pivot_table = df.pivot_table(values='Sales', index='Date', columns='Category', aggfunc='sum', fill_value=0)

# Plotting the stacked bar chart
pivot_table.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Total Sales')
plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

Ans-

In [ ]:
import pandas as pd

# Function to get user input for the file path
def get_user_input():
    file_path = input("Enter the file path of the CSV file containing the student data: ")
    return file_path

# Read CSV file
file_path = get_user_input()
df = pd.read_csv(file_path)

# Calculate mean, median, and mode
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Display the results in a table
results_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})

print("\n" + results_table.to_markdown(index=False))